body {
  font-size: 16px;
}

.footer {
  margin-top: 28px;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border-width: 4px 1px 0 1px;
}

.title-note {
  font-size: 14px;
  color: #666666;
}

h1, .h1, h2, .h2 {
  margin-top: 46px;
  margin-bottom: 12px;
}

h3, .h3 {
  margin-top: 26px;
  margin-bottom: 12px;
  text-decoration: underline;
}

.alert-info {
    background-color: #75caeb;
    border-color: #40b5e3;
    color: #0a3343 !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: inherit;
    background-color: #f8f8f8;
}
